button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px;
  z-index: 1;
  border: 0;
  border-radius: 0.25rem;
  background: #1e88e5;
  color: white;
  font-family: system-ui, sans-serif;
}
